@model SaveFormViewModel

<form asp-controller="home" asp-action="form">
    <label asp-for="Value1"></label>
    <br />
    <input asp-for="Value1" />
    <br />
    <br />
    <label asp-for="Value2"></label>
    <br />
    <input asp-for="Value2" />
    <br />
    <br />
    <label asp-for="Value3"></label>
    <br />
    <input asp-for="Value3" />
    <br />
    <br />


    <input type="submit" value="Save" />
</form>
